@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html {
  background-color: #000;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Навигация */
.header {
  margin-top: 25px;
}

.nav {
  display: flex;
  gap: 35px;
}

.nav a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  transition: color 0.5s;
}

.nav a:hover {
  color: #8B00FF;
}

/* Основная часть */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.info {
  margin-top: 10%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.info h1 {
  margin: 0 0 15px 0;
}

.info h3 {
  margin: 0;
  font-weight: normal;
}

.image img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Блок описания */
.about {
  margin-top: 15px;
  text-align: center;
  max-width: 600px;
}

.about p {
  color: #858585;
  line-height: 1.5;
}

/* Подвал */
.footer {
  margin: 30px 0;
  color: #454545;
}
