@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-color: rgb(0, 0, 0)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}

nav a {
    font-family: "Space Mono", monospace;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

nav a:hover {
    color: #8B00FF
}


.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main h1 {
    font-family: "Space Mono", monospace;
    color: rgb(255, 255, 255);
}


.container-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.container-footer h4 {
    font-family: "Space Mono", monospace;
    color: rgb(69, 69, 69);
}

.container-main h1 {
    font-family: "Space Mono", monospace;
    color: rgb(255, 255, 255);
}

.container-main p {
    font-family: "Space Mono", monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

.container-main a {
    color: #8B00FF;
    text-decoration: underline;
}

.container-main a:hover {
    color: #BB00FF;
}
